*{
  padding: 0px;
  margin: 0px;
}
.wrapper{
  background-image: url(images/concert.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed; 
}
.navbar{
  position: relative;
  height: 80px;
  width: 100%;
  background: rgba(0,0,0,0.4);
}
.logo{
  color:white;
  width: 60px;
  height: auto;
  padding:20px, 100px;
  margin-left: 20px;
  margin-top: 10px;
}
.logoWords{
  color:white;
  height: auto;
  padding: 5px, 0px, 10px, 5px;
  font-size: 38px;
}
.bannerTitle{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Finger Paint';
  font-size: 83px;
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 2px;
  color:rgb(247, 215, 174);
  text-shadow: 4px 4px rgb(199, 4, 4);
  width: auto;
  height: auto;
}
.navbar ul{
  float: right;
  margin-right: 20px;
  text-decoration: none! important;
  color:white;
  
}
.navbar ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}
.navbar ul li a{
  text-decoration: none;
  color:white;
}
.subtitle{
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  color:white;
  font-size: 19px;
  font-style: italic;
  margin-top: 5px;

}
.glass{
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  margin-top: 30px;
  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .2);
  background: inherit;
}
.glass:before{
  content:"";
  box-shadow: inset 0 0 1000px rgba(255,255,255,.5);
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.glassTitle{
  width: 100%;
  margin: 10px;
  color:black;
  font-size: 33px;
  font-family: calligraphitti;
  font-style: italic;

}
.glassInfo{
  margin: 10px;
  color:black;
  font-size: 15px;
}
.glassArtist{
  margin: 10px;
  font-weight: 500;
  color:black;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  display: inline-block;
  text-align: center;
}
.lauren{
  height: 300px;
  width:auto;
}
.smooth{
  color:black;
  font-size: 13px;
  font-style: italic;
  margin-right: 10px;
  float: right;
}
.center{
  position:relative;
  text-align: center;
}
.map{
  margin-top: 40px;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
}
/* .mapContainer{
  height: 100vh;
  width: auto;
  background-color: rgb(247, 215, 174);
  
} */
.mapText{
  padding-top: 30px;
  color:white;
  font-size:23px;
}
.schedule{
  background-color: black;
  color:white;
  font-size: 23px;
  margin-top: 40px;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
.headers{
  text-decoration: underline;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
